.accordion-button {
  color: $thirdy;
  font-weight: 600;
}

.accordion-button:focus {
  border-color: $primary;
}

.accordion-button:not(.collapsed) {
  color: $white;
  background-color: $primary;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.carousel-item {
  height: 100%;
}

.img-ads {
  width: 100%;
  margin: auto;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid $primary;
  color: $thirdy;
}

.title-meta-item {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $thirdy;
}

.card-title {
  font-size: 2rem;
  span {
    font-size: 2rem;
  }
}