.custom-navbar {
  border-bottom: 2px solid #73A1AD;

  .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    color: $thirdy;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &:before, &:after {
      position: absolute;
      content: '';
      border-bottom: 3px solid $primary;
      border-radius: 1em;
      bottom: .3em;
      transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
      width: 1em;
      transform-origin: left;
    }

    &:after {
      width: 82%;
      left: 1em;
      transform: translateX(110%);
    }
    &:hover:before {
        transform: scaleX(0.3);
    }

    &:hover:after {
        transform: translateX(0);
    }
  }
}