.title {
  &::after {
    display: block;
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 15px;
    margin: auto;
  }
}

.card-img-top {
  width: 50%;
}

.card-servicos {
  height: 500px !important;
}

.gestao-item {
  height: 150px;
}